@tailwind base;
@tailwind components;
@tailwind utilities;

.changeArticle {
  max-height: 486px;
}

.commentDetail {
  max-height: 280px;
}

.features {
  margin-top: -60px;
}

ul .active {
  color: #14b8a6;
}

.slick-prev:before {
  margin-left: -40px;
  font-size: 50px !important;
  color: teal !important;
}
.slick-next:before {
  margin-left: 10px;
  font-size: 50px !important;
  color: teal !important;
}
